@use './mod/reset.scss';
@use './mod/moviesearch.scss';
@use './mod/movie.scss';

body{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;

}
.open {
    display: block;
}
.close {
    display: none;
}
.conteiner{
    max-width: 960px;
    margin: 100px auto;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
.shake {
        animation: shake 0.4s ease-in-out;
    }
.error{
    &::placeholder{
        color: #da0202e3;
    }
}

@media (max-width: 1199px) {
    body{
        font-size: 20px;
    }
    .conteiner{
        width: 768px;
        margin: 20px auto;
    }
}
@media  (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .conteiner{
        width: 400px;
        margin: 10px auto;
    }
}